@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,700;0,900;1,700;1,900&family=Prompt:ital,wght@0,500;0,600;0,700;1,500;1,600;1,700&family=Quicksand:wght@300;400;500;600;700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


:root{
  --dark-1: #343647;
  --dark-2: #252734;
  --dark-3: #2D2F3E;
  --light-1: #fff;
  --light-2: #E9EAEB;
  --primary: #F78502;
  --display-font-family:  'Roboto Mono', monospace;
  --highlight-font-family: 'Prompt', sans-serif;
  --main-font-family: 'Roboto Mono', monospace;
}

/* Body */
body {
  background-color: var(--dark-1);
  color: var(--light-1)!important;
  margin-top: 5rem;
  font-family: var(--main-font-family);
}


/* Backgrounds */

.bg-dark-1 {
  background: var(--dark-1)
}

.bg-dark-2 {
  background: var(--dark-2)
}

/* Font families */

.font-display {
  font-family: var(--display-font-family);
  font-weight: 700;
  text-transform: uppercase;
}

.font-highlight {
  font-family: var(--highlight-font-family);
  font-weight: bold;
}

.font-main {
  font-family: var(--main-font-family);
  font-weight: 400;
}

/* Text colors */


.text-primary {
  color: var(--primary)!important;
}

.social-icon {
  color: var(--light-1);
}

/* Fonts */
.text-cursive {
  font-family: 'Courgette', cursive;
}

/* Hero jumbotron */

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 400;
}

.typed-cursor{
  font-size: 3.0rem;
}

/* Projects card */

.proj-card {
  background: var(--dark-2);
  background-size: 100% 200%;
  background-image: linear-gradient(to bottom, var(--dark-2) 50%, var(--primary) 50.1%);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 0 0 1rem 0;
  transition: background-position 0.2s ease-out;
  border: 0;
}

.proj-card:hover{
  background-position: 0 -100%;
  box-shadow: 0 14px 28px rgba(0,0,0,0.12), 0 10px 10px rgba(0,0,0,0.24);
}

.proj-card:hover strong{
  color: var(--dark-1);
}

.proj-title {
  color: var(--light-1);
  text-decoration: none;
}

a.proj-title:hover {
  color: var(--light-2);
  text-decoration: none;
}

.proj-card img {
  width: 100%;
  height: 15rem;
  border-radius: 0 0 0 0;
  object-fit: cover;
}

.proj-categories {
  font-family: var(--highlight-font-family);
  font-weight: 500;
  color: var(--primary);
}

/* Post */

.post-container {
  padding: 0;
}

.post {
  background-color: var(--dark-2);
  padding: 0;
}

.post img {
  width: 100%;
  height: 20vh;
  object-fit: cover;
}

.post-title {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.post-info {
  background-color: var(--dark-3);
  padding: 1rem 0 1rem 0;
  text-align: start;
  text-indent: 1rem;
}

.post-info p{
  margin: 0;
}

.post-info-text {
  width: 100%;
}

.post-content {
  margin-top: 2rem;
  padding-bottom: 2rem;
  text-align: start;
  color: var(--light-2);
  font-family: var(--main-font-family);
  line-height: 170%;;
}


.post-content img {
  object-fit: contain;
}

.post-content a {
  color: var(--primary);
  text-decoration: none;
}

@media screen and (min-width: 720px) {


  .post-info {
    text-indent: 1.5rem;
  }

  .post-content {
    max-width: 36rem;
  }

  .post-info-text {
    width: 36rem;
  }

} 


/* Publications */



.pub-card {
  background: var(--dark-2);
  background-size: 100% 200%;
  background-image: linear-gradient(to bottom, var(--dark-2) 50%, var(--primary) 50.1%);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 0 0 1rem 0;
  transition: background-position 0.2s ease-out;
  border: 0;
}

.pub-card:hover{
  background-position: 0 -100%;
  box-shadow: 0 14px 28px rgba(0,0,0,0.12), 0 10px 10px rgba(0,0,0,0.24);
}

.pub-card:hover strong{
  color: var(--dark-1);
}

.pub-title {
  color: var(--light-1);
  text-decoration: none;
}

a.pub-title:hover {
  color: var(--light-2);
  text-decoration: none;
}

.pub-card > hr {
  color: var(--primary);
  opacity: 1;
  margin-top: 0;
}

.pub-card:hover hr {
  color: var(--dark-2);
}


/* Add a bar to the bottom of active link*/ 
@media screen and (min-width: 600px) {
  .nav-link.active {
    border-bottom: 0.3rem solid var(--primary);
  }
} 

/* SVGs */

.img-svg path, line, polyline {
  stroke: var(--light-1);
}

.img-svg {
  height: 500px;
}


.bg-svg-technical-drawing {
  background: url('TechnicalDrawing.svg');
  
}

.bg-svg-img {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  height: 100%;
  width: 100%;
  padding: 0;
}

.banner {
  background: var(--dark-2);
  display: block;
  margin-top: 0;
}


.banner-text {
    text-align: center;
    color: var(--light-1);
    margin-top: auto;
    font-size: 4rem;
    padding-top: 7rem;
    padding-bottom: 7rem;
}

/* Education and experience cards in about page */

