:root{
  --primary: #F17300;
  --light: #FFFFFF;
  --dark: #121212;
}
/* Colors */

body {
  background-color: var(--dark);
  color: var(--light);
  margin-top: 5rem;
}


#main-navbar {
  background-color: var(--dark);
}

@media screen and (min-width: 600px) {
  .nav-link.active {
    border-bottom: 0.3rem solid var(--primary);
  }
} 


.text-accent {
  color: var(--primary);
}

i {
  color: var(--light);
}