{% extends 'base.html' %}



{% block content %}

<div class="container jumbotron">
    <h1 class="text-center my-3 py-5">Publications</h1>
</div>

<div class="container">
    <div class="row row-cols-1 row-cols-md-2 g-4 d-flex justify-content-around">
        {% for pub in publications %}
            <div class="col">
                <div class="card pub-card h-100 text-center">
                    <strong class="py-2 text-primary">{{ pub.get_kind_display }}</strong>
                    <a class="h3 pub-title card-title pb-2" {% if pub.link %}href={{ pub.link }}{% endif %}>{{ pub.title }}</a>
                    <p class="m-0 text-muted">{{ pub.publisher }}</p>
                    <p class="m-0 text-muted">{{ pub.authors_list|safe }}</p>
                    <p class="mt-0  text-muted">{{ pub.year }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

