@import url('https://fonts.googleapis.com/css2?family=Courgette&family=IBM+Plex+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Prompt:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nova+Flat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Baumans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

:root{
  --dark-1: #000;
  --dark-2: #0d0d0d;
  --dark-3: #201b15;
  --light-1: #fff;
  --light-2: #E9EAEB;
  --primary: #9E8568;
  --secondary: #5A100F;
  --display-font-family:  'IBM Plex Mono', monospace;
  --highlight-font-family: 'Julius Sans One', sans-serif;
  --main-font-family: 'IBM Plex Mono', monospace;
  --cursive-font-family: 'Courgette', cursive;
}

/* Body */

body {
  font-family: var(--main-font-family);
}


/* Backgrounds */


.bg-turbofan {
  background: 
    linear-gradient(180deg, #000000 7.79%, rgba(21, 20, 19, 0.05) 46.05%, #000000 85.93%),
    url(TurbofanCover_L.jpg),
    #121212;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
}

/* Font families */

.font-display {
  font-family: var(--display-font-family);
  font-weight: 700;
  text-transform: uppercase;
}

.font-highlight {
  font-family: var(--highlight-font-family);
  font-weight: bold;
}

.font-main {
  font-family: var(--main-font-family);
  font-weight: 400;
}

.font-cursive {
  font-family: 'Courgette', cursive;
}

/* Text colors */

.text-primary {
  color: var(--primary)!important;
}

.text-secondary {
  color: var(--secondary)!important;
}

.social-icon {
  color: var(--light-1);
}

/* Title text */

.text-main-title {
  font-size: calc(3rem + 2.7vw);
  text-align: end;
}

/* Hero jumbotron */

.jumbotron {
  padding: 3rem 3rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 400;
}

.typed-cursor{
  font-size: 3.0rem;
}


/* Projects card */

.proj-card {
  background: var(--dark-2);
  background-size: 100% 200%;
  background-image: linear-gradient(to bottom, var(--dark-2) 50%, var(--primary) 50.1%);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 0 0 1rem 0;
  transition: background-position 0.2s ease-out;
  border: 0;
  height: 20vh;
  min-height: 100px;
}

.proj-card:hover{
  background-position: 0 -100%;
  box-shadow: 0 14px 28px rgba(0,0,0,0.12), 0 10px 10px rgba(0,0,0,0.24);
}

.proj-card:hover strong{
  color: var(--secondary) !important;
}

.proj-title {
  color: var(--light-1);
  text-decoration: none;
}

a.proj-title:hover {
  color: var(--light-2);
  text-decoration: none;
}

.proj-card img {
  width: 100%;
  height: 70%;
  min-height: 100px;
  border-radius: 0 0 0 0;
  object-fit: cover;
}


/* Post */


.post {
  background-color: var(--dark-2);
  padding: 0;
}

.post img {
  width: 100%;
  height: 20vh;
  object-fit: cover;
}

.post-info {
  background-color: var(--dark-3);
  padding: 1rem 0 1rem 0;
  text-align: start;
}

.post-info p{
  margin: 0;
}

.post-info-text {
  width: 100%;
}

.post-content {
  margin-top: 2rem;
  padding-bottom: 2rem;
  text-align: start;
  color: var(--light-2);
  font-family: var(--main-font-family);
  line-height: 170%;;
}


.post-content img {
  object-fit: contain;
}

.post-content a {
  color: var(--primary);
  text-decoration: none;
}

.post-content h1,h2,h3,h4,h5,h6 {
  font-family: var(--highlight-font-family);
}

.post-thumbnail {
  height: 90px;
  width: 160px;
  object-fit: cover;
}

@media screen and (min-width: 720px) {

  .post-content {
    max-width: 36rem;
  }

  .post-info-text {
    width: 36rem;
  }

} 

/* Publications */

.pub-card {
  background: var(--dark-2);
  background-size: 100% 200%;
  background-image: linear-gradient(to bottom, var(--dark-2) 50%, var(--primary) 50.1%);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 0 0 1rem 0;
  transition: background-position 0.2s ease-out;
  border: 0;
}

.pub-card:hover{
  background-position: 0 -100%;
  box-shadow: 0 14px 28px rgba(0,0,0,0.12), 0 10px 10px rgba(0,0,0,0.24);
}

.pub-card:hover strong {
  color: var(--secondary) !important;
}

.pub-title {
  color: var(--light-1);
  text-decoration: none;
}

a.pub-title:hover {
  color: var(--light-2);
  text-decoration: none;
}

.pub-card > hr {
  color: var(--primary);
  opacity: 1;
  margin-top: 0;
}

.pub-card:hover hr {
  color: var(--secondary);
}

/* Home screen cards */

.home-card {
  background: var(--primary);
  background-size: 100% 200.2%;
  background-image: linear-gradient(to bottom, var(--primary) 50%, var(--secondary) 50.1%);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 0 0 1rem 0;
  transition: background-position 0.2s ease-out;
  border: 0;
  text-decoration: none;
  color: var(--dark-1);
}

.home-card:hover{
  background-position: 0 -100%;
  box-shadow: 0 14px 28px rgba(0,0,0,0.12), 0 10px 10px rgba(0,0,0,0.24);
  color: var(--light-1);
}

.home-card:hover strong {
  color: var(--dark-1) !important;
}



/* Add a bar to the bottom of active link*/ 
@media screen and (min-width: 600px) {
  .nav-link.active {
    border-bottom: 0.3rem solid var(--primary);
  }
} 

/* SVGs */


.svg-img {
  width: 500px;
  min-width: 250px;
}


.bg-svg-technical-drawing {
  background: url('TechnicalDrawing.svg');
  
}

.bg-svg-img {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  height: 30vh;
  width: 100%;
  padding: 0;
}

.bg-img-cover {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  padding: 0;
  object-fit: contain;
}

.banner {
  background: var(--dark-2);
  display: block;
  margin-top: 0;
}


.banner-text {
    text-align: center;
    color: var(--light-1);
    margin-top: auto;
    padding-top: 7rem;
    padding-bottom: 7rem;
}

/* Profile pic in home page */

.img-profile {
  border: 10px solid var(--primary);
  height: 20vh;
  width: auto;
  top: 12vh;
  z-index: 10;
}

.pt-15vh {
  padding-top: 15vh;
}

.w-60ch {
  max-width: 60ch;
}

.vh-75 {
  height: 75vh;
}

.vh-50 {
  height: 50vh;
}

.vh-25 {
  height: 25vh;
}

