/* Overlays for material design dark theme */

.overlay-00dp {
    background-color: rgba(255,255,255,0.0);
}

.overlay-01dp {
    background-color: rgba(255,255,255,0.05);
}

.overlay-02dp {
    background-color: rgba(255,255,255,0.07);
}

.overlay-03dp {
    background-color: rgba(255,255,255,0.08);
}

.overlay-04dp {
    background-color: rgba(255,255,255,0.09);
}

.overlay-06dp {
    background-color: rgba(255,255,255,0.11);
}

.overlay-08dp {
    background-color: rgba(255,255,255,0.12);
}

.overlay-12dp {
    background-color: rgba(255,255,255,0.14);
}

.overlay-16dp {
    background-color: rgba(255,255,255,0.15);
}

.overlay-24dp {
    background-color: rgba(255,255,255,0.16);
}

/* Light text definitions */

.text-light{
    color: rgba(255,255,255,1.0);
}

.text-light-emphasis {
    color: rgba(255,255,255,0.87);
}

.text-light-regular {
    color: rgba(255,255,255,0.60);
}

.text-light-disabled {
    color: rgba(255,255,255,0.38);
}