{% extends 'main/base.html' %}

{% block content %}

<div class="container px-0 pt-5">
    <div class="col-12 col-md-10 col-lg-8 mx-auto post">
        <img src="{{ post.banner.url }}" alt="Post banner" class="img-fluid w-100 vh-25">
        <h1 class="font-highlight text-center p-3">{{ post.title }}</h1>
        <div class="container post-info font-display text-muted d-flex justify-content-center">
            <div class="post-info-text">
                <p><i class="fas fa-tags"></i> {{ post.tags_list }}</p>
                <p>{{ post.date_posted | date:"F jS, Y" }}</p>
                <p>By <a class="text-decoration-none" href="{% url 'posts-list' %}">JP Lopes</a></p>
            </div>
        </div>
        <div class="container post-content">
            {{ post.formatted_content | safe }}
        </div>
    </div>
</div>

{% include 'main/scripts_synthax.html'%}

{% endblock %}