{% extends 'main/base_listview.html' %}

{% load static %}

{% block bg_img %}
    {% static "main/BlogPattern.svg"%}
{% endblock %}

{% block section_title %}
    Blog
{% endblock %}

{% block cards %}
    {% for post in posts %}
            <div class="col" style="max-width: 27rem;">
                <div class="card proj-card h-100">
                    <img src="{{ post.thumbnail.url }}" class="img-fluid" alt="">
                    <div class="card-body">
                        <strong class="proj-categories">
                            {{ post.tags_list }}
                        </strong>
                        <br>
                        <a class="h3 proj-title card-title mb-2" href="{{ post.get_absolute_url }}">
                            {{ post.title }}
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
{% endblock %}
