{% extends 'main/base_listview.html' %}

{% load static %}

{% block bg_img %}
    {% static "main/BlogPattern.svg"%}
{% endblock %}

{% block section_title %}
    Journal
{% endblock %}

{% block cards %}
    <div class="row row-cols-1 g-0 d-flex justify-content-around">
        {% for post in posts %}
            <div class="col" style="max-width: 900px;">
                <div class="card bg-dark-2 mx-3 my-3 p-3" >
                    <div class="row g-0">
                        <div class="col-md-4 text-center align-self-center">
                            <img src="{{ post.thumbnail.url }}" class="img-fluid post-thumbnail" alt="">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body text-center text-md-start">
                                <a class="h3 proj-title card-title mb-2 font-highlight" href="{{ post.get_absolute_url }}">
                                    {{ post.title }}
                                </a>
                                <p class="text-muted mt-2 mb-0 small">By JP Lopes - {{ post.date_posted | date:"F jS, Y" }}</p>
                                <p class="proj-categories mb-0 mt-0 text-uppercase font-display text-muted small">
                                    <strong>
                                        <i class="fas fa-tags"></i> {{ post.tags_list }}
                                    </strong>
                                </p>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="mx-0">
            </div>  
        {% endfor %}
    </div>
    <!-- Pagination logic -->
    {% if is_paginated %}
        <nav aria-label="Blog posts pagination">
            <ul class="pagination justify-content-center font-display mt-3">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1">First</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                    </li>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <li class="page-item active">
                            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                        </li>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number}}">Next</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
{% endblock %}
