{% extends 'base.html' %}

{% block content %}

<div class="container jumbotron">
    <h1 class="text-center my-3 py-5">Projects</h1>
</div>

<div class="container">
    <div class="row row-cols-1 row-cols-md-2 g-4 d-flex justify-content-around">
        {% for project in projects %}
            <div class="col" style="max-width: 27rem;">
                <div class="card proj-card h-100">
                    <img src="{{ project.thumbnail.url }}" class="img-fluid" alt="">
                    <div class="card-body">
                        <strong class="proj-categories">
                            {{ project.categories_list }}
                        </strong>
                        <br>
                        <a class="h3 proj-title card-title mb-2" href="#">
                            {{ project.title }}
                        </a>
                        <p class="text-light-regular card-text font-main">
                            {{ project.technologies_list }}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}