{% extends 'main/base.html' %}


{% block content %}

<div class="container post-container">
    <div class="offset-md-1 offset-sm-0 col-sm-12 col-md-10 post">
        <img src="{{ project.banner.url }}" alt="Project banner" class="img-fluid w-100 vh-25">
        <h1 class="post-title font-display">{{ project.title }}</h1>
        <div class="container post-info font-highlight text-muted d-flex justify-content-center">
            <div class="post-info-text">
                <p>{{ project.categories_list }}</p>
                <p>{{ project.technologies_list }}</p>
                <p>{{ project.year }}</p>
            </div>
        </div>
        <div class="container post-content">
            {{ project.formatted_content | safe }}
        </div>
    </div>
    
</div>

{% include 'main/scripts_synthax.html'%}

{% endblock %}