{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row mb-2">
            {% for pub in publications %}
                <div class="col-md-6 col-lg-4 d-flex align-self-stretch">
                    <div class="row overflow-hidden g-0 mb-4 card rounded overlay-01dp">
                        <div class="col p-4 d-flex flex-column justify-content-between">
                            <div class="row mb-3">
                                <strong class="d-inline-block mb-2 text-primary">{{ pub.get_type_display }}</strong>
                                <a class="h3 pub-title card-title pb-2" href={{ pub.link }}>{{ pub.title }}</a>
                            </div>
                            <div class="row justify-content-between card-subtitle text-light-regular">
                                <p class="col-12">{{ pub.journal }}</p>
                                <p class="col-10">{{ pub.get_author_names }}</p>
                                <p class="col-2">{{ pub.year }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}