{% extends 'main/base.html' %}

{% load static %}

{% block content %}

<section class="text-center container-fluid bg-dark-1 pt-5">
    <div class="row align-items-center d-flex p-0 bg-svg-img" 
        style="background-image: 
            url({% static 'main/MyHobbiesPattern.svg' %});">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="banner-text font-highlight">About me</h1>
        </div>
    </div>
</section>

<div class="container-fluid bg-white text-dark text-center py-5">
    <div class="w-60ch mx-auto text-center">
        <p class="">My expertise is in computational solid 
            mechanics, where I have studied the behaviour of metals under 
            cyclical plasticity and contact mechanics.
        </p>
        <p class="">I also have experience with the design
        of upper prosthetic limbs and performance analysis of Tesla turbines.
        </p>
    </div>
    
</div>

<div class="container py-5 px-0">
    <div class="row">
        <div class="col-lg-4 col-md-12 align-self-center">
            <h2 class="text-center mb-4 mb-lg-0">Roles</h2>
        </div>
        <div class="col-lg-8 col-md-12">
            <div class="row g-4 d-flex justify-content-around">
                {% for exp in experiences %}
                    <div class="col-lg-6 col-md-12">
                        <div class="card pub-card p-2 h-100 text-center">
                            <p class="h5 pub-title card-title pt-2 pb-0 font-highlight">{{ exp.title }}</p>
                            <hr class="mx-2">
                            <p class="my-0 text-muted">{{ exp.company }}</p>
                            <p class="my-0 pb-0 text-muted">{{ exp.start_date }} - {{ exp.end_date|default_if_none:"Ongoing" }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


<hr class="mx-5">

<div class="container py-5 px-0">
    
    <div class="row">
        <div class="col-lg-4 col-md-12 align-self-center">
            <h2 class="text-center mb-4 mb-lg-0">Education</h2>
        </div>
        <div class="col-lg-8 col-md-12">
            <div class="row g-4 d-flex justify-content-around">
                {% for ed in educations %}
                    <div class="col-lg-6 col-md-12">
                        <div class="card pub-card p-2 h-100 text-center">
                            <p class="h5 pub-title card-title pt-2 pb-0 font-highlight">{{ ed.title }}</p>
                            <hr class="mx-2">
                            <p class="my-0 text-muted">{{ ed.institution }}</p>
                            <p class="my-0 pb-0 text-muted">{{ ed.start_date }} - {{ ed.end_date|default_if_none:"" }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<hr class="mx-5">

<div class="container py-5 px-0">
    <div class="row">
        <div class="col-lg-4 col-md-12 align-self-center">
            <h2 class="text-center mb-4 mb-lg-0">Expertise</h2>
        </div>
        <div class="col-lg-8 col-md-12">
            <div class="row g-4 d-flex justify-content-around">
                {% for exp in expertises %}
                    <div class="col-lg-6 col-md-12">
                        <div class="card pub-card p-2 h-100 text-center">
                            <p class="h5 pub-title card-title pt-2 pb-0 font-highlight">{{ exp.title }}</p>
                            <hr class="mx-2">
                            <p class="my-0 text-muted">{{ exp.description }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="container py-5 px-0">
    <div class="row">
        <div class="col-lg-8 col-md-12 mx-auto">
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mt-4">
                <a class="btn btn-outline-primary btn-sm px-4 me-sm-3 font-highlight" href="{{ my_info.cv.url }}">Download my CV</a>
            </div>
        </div>
    </div>
</div>





{% endblock %}