{% extends 'main/base.html' %}

{% load static %}

{% block content %}

<section class="text-center container-fluid bg-dark-1 pt-5">
    <div class="row align-items-center d-flex p-0 bg-svg-img" 
        style="background-image: 
            url({% block bg_img %}{% endblock %});">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="banner-text font-highlight py-5 display-1">{% block section_title %}{% endblock %}</h1>
        </div>
    </div>
</section>

<div class="container py-5 px-2">
    {% block cards %}
    {% endblock %}
</div>

{% endblock %}

