<!--Footer-->
<footer class="footer py-5 bg-dark-1 text-light">
    <div class="container text-center">
        <!-- Contact links -->
        <div class="row  ">
            <div class="col-md-12 h5">
                <a href="#"><i class="fab fa-linkedin-in social-icon"></i></a>
                <a href="#"><i class="fab fa-github social-icon"></i></a>
                <a href="#"><i class="fas fa-envelope social-icon"></i></a>
            </div>
        </div>
        <br>
        <!-- Copyright -->
        <div class="row ">
            <div class="col-md-12">
                <small>&copy; Jhonatan da Ponte Lopes, 2021. All rights reserved.</small>
            </div>
        </div>
        <br>
        <br>
            
    </div>
</footer>