<!--Footer-->
<footer class="footer py-5 bg-dark-1 text-light">
    <div class="container text-center">
        <!-- Contact links -->
        <div class="row  ">
            <div class="col-md-12 h5">
                <a href="//www.linkedin.com/in/jhonatan-dapontelopes" target="_blank"><i class="fab fa-linkedin-in social-icon"></i></a>
                <a href="//github.com/jhonatan-lopes" target="_blank"><i class="fab fa-github social-icon"></i></a>
                <a href="{% url 'contact'%}"><i class="fas fa-envelope social-icon"></i></a>
            </div>
        </div>
        <br>
        <!-- Copyright -->
        <div class="row ">
            <div class="col-md-12 mx-auto w-60ch">
                {% url 'home' as home_view %}
                {% if request.path == home_view %}
                    <p><small class="text-muted">Website designed and coded by myself.</small></p>
                {% endif %}
                <p><small class="text-muted">&copy; Jhonatan da Ponte Lopes, 2021. All rights reserved.</small></p>
                {% url 'about' as about_view %}
                {% url 'posts-list' as blog_view %}
                {% if  request.path == about_view or request.path == blog_view%}
                    <p class="text-decoration-none" style="font-size: 12px">
                        <small class="text-muted">Icons used in banner pattern made by 
                        <a class="text-decoration-none" href="https://www.flaticon.com/authors/nhor-phai" target="_blank">Nhor Phai</a>,
                        <a class="text-decoration-none" href="https://www.flaticon.com/authors/xnimrodx" target="_blank">xnimrodx</a>,
                        <a class="text-decoration-none" href="https://www.flaticon.com/authors/freepik" target="_blank">Freepik</a>,
                        <a class="text-decoration-none"  href="https://www.flaticon.com/authors/surang" target="_blank">Surang</a>,
                        <a class="text-decoration-none" href="https://www.flaticon.com/authors/vitaly-gorbachev" target="_blank">Vitaly Gorbachev</a>,
                        <a class="text-decoration-none" href="https://www.flaticon.com/authors/bqlqn" target="_blank">bqlqn</a>,
                        <a class="text-decoration-none" href="https://www.flaticon.com/authors/kiranshastry" target="_blank">Kiranshastry</a>,
                        <a class="text-decoration-none" href="https://www.flaticon.com/authors/pixelmeetup" target="_blank">Pixelmeetup</a>,
                        <a class="text-decoration-none" href="https://www.flaticon.com/authors/pixel-perfect" target="_blank">Pixel perfect</a>,
                        <a class="text-decoration-none" href="https://www.flaticon.com/authors/eucalyp" target="_blank">Eucalyp</a>,
                        <a class="text-decoration-none" href="https://www.flaticon.com/authors/smashicons" target="_blank">Smashicons</a>,
                        <a class="text-decoration-none" href="https://www.flaticon.com/authors/becris" target="_blank">Becris</a>,
                        <a class="text-decoration-none" href="https://www.flaticon.com/authors/good-ware" target="_blank">Good Ware</a>, 
                        and <a class="text-decoration-none"  href="https://www.flaticon.com/authors/dinosoftlabs" target="_blank">DinosoftLabs</a> 
                        from <a class="text-decoration-none"  href="//www.flaticon.com" target="_blank">flaticon.com</a> .</small>
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
</footer>