{% extends 'base.html' %}


{% block content %}
    <!-- I'm Jhonatan -->
    <div class="my-3 jumbotron jumbotron-fluid bg-dark-1">
        <div class="container">
            <h1 class="display-3">Hi, I'm Jhonatan</h1>
            <div id="typed-strings">
                <p>An <span class="text-primary">engineer</span></p>
                <p>A <span class="text-primary">mechanical engineer</span></p>
                <p>A <span class="text-primary">programmer</span></p>
                <p>A <span class="text-primary">scientist</span></p>
                <p>A <span class="text-primary">problem solver</span></p>
                <p>A <span class="text-primary">problem solver</span>.</p>
            </div>
            <span id="typed" class="display-4"></span>
            <br>
        </div>
    </div>

    <!-- My job is -->
    <div class="my-3 jumbotron jumbotron-fluid bg-dark-2">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-md-8">
                    {% include "prosthetic_hand.html" %}
                </div>
                <div class="col-md-4">
                    <p class="text-start">My job is to apply my skills to solve everyday problems, ranging from <emp class="text-primary">designing new prosthetic devices</emp> for children…</p>
                    <br>
                </div>
                <div class="col-md-4">
                    <p class="text-end">…to <emp class="text-primary">developing mathematical models</emp> that allow us to understand why it's easier to pull out a wine cork after it's been twisted.</p>
                    <br>
                </div>
                <div class="col-md-8">
                    {% include "contact_graph.html" %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}